# Assignments

# Topics to be covered
1. [String Methods](https://github.com/usmanashrf/batch63-cloud-native-modern-python-classwork/tree/main/04-class_work/04b-string_methods)
2. String Concatenation
3. String Repitition
4. Membership Operators
5. Indexing in Strings
6. Slicing in Strings
7. String Formatting
8. Escape Sequence
9. `type`, `dir` and `id` functions
10. Mutable & Immutable data types
11. Interning
12. Comments in Python

### 8. String Formatting (`%`, `.format()`, `f-strings`)
Strings can be formatted using different methods.
```python
name = "Alice"
age = 30

# Using % operator
print("My name is %s and I am %d years old." % (name, age))

# Using .format()
print("My name is {} and I am {} years old.".format(name, age))  

# Using f-strings (Python 3.6+)
print(f"My name is {name} and I am {age} years old.")
```


#### 8a. Common format specifiers
1. `%s` (String Format Specifier):

    * `%`s is used as a placeholder for a string. It tells Python to insert the string representation of the corresponding variable into the position where `%s` appears in the string.
    In our example:
    * `%s` corresponds to the variable name, which has the value "Alice".
    * "My name is `%s`" becomes "My name is Alice".
2. `%d` (Integer Format Specifier):

    * `%d` is used as a placeholder for an integer. It tells Python to insert the integer value of the corresponding variable into the position where `%d` appears in the string.
    In our example:
    * `%d` corresponds to the variable age, which has the value 30.
    * "I am `%d` years old" becomes "I am 30 years old".
3. `%f` (Float Format Specifier)
    ```python
    pi = 3.14159
    formatted_string = "The value of pi is approximately %.2f" % pi"
    print(formatted_string)
    ```

4. `%x` (Integers in Hexadecimal Format Specifier)
    ```python
    number = 255
    formatted_string = "The hexadecimal representation of %d is %x" % (number, number)
    print(formatted_string)
    ```

5. `%o` (Integers in Octal Format Specifier)

    ```python
    number = 255
    formatted_string = "The octal representation of %d is %o" % (number, number)"
    print(formatted_string)
    ```

6. `%e` (Scientific Format Specifier) e.g `2.5e+02`
    ```python
    large_number = 25000
    formatted_string = "The scientific notation of %d is %e" % (large_number, large_number)"
    print(formatted_string)
    ```

7. `%c` (Character Format Specifier)

    ```python
    char_code = 65
    formatted_string = "The character for ASCII code %d is %c" % (char_code, char_code)
    print(formatted_string)
    ```
8. `%r` (Raw Format Specifier)
    ```python
    text = "Hello\nWorld"
    formatted_string = "Raw representation: %r" % text
    print(formatted_string)
    ```
### 9. Escape Sequence
- ```\  ``` -> Escape character
- ```\n ``` -> Escape sequence
- ```\n ``` -> inserts new line
- ```\\ ``` -> inserts backslach
- ```\' ``` -> inserts single quote
- ```\" ``` -> inserts double quote
- ```\t ``` -> inserts tab
- ```\r ``` -> moves the cursor to the start of the line
- ```\a ``` -> Beeps
- ```\b ``` -> Backspace

In [29]:
greetings = 'Rehan\bgreeting'
print(greetings)

Rehangreeting

In [24]:
result = "Rehan \
is  "

print(result)

Rehan is

In [1]:
message = "hello"

print(message * 3)

hellohellohello

`in`  
`not in`

In [3]:
greetings = "hello Rehan"

print("re" not in greetings)

True

In [13]:
message_1 = "1234Hello Rehan how are you."
print(message_1[7])

print(len(message_1))
print(" ")

l
28

### String Formatting

In [18]:
name = "Alice"
age = 30

# Using % operator
print("My name is %s and I am %d years old." % (name, age))

My name is Alice and I am 30 years old.

In [19]:
print("My name is {} and I am {} years old".format(name, age))

My name is Alice and I am 30 years old

In [20]:
# f-string
name = "Rehan"
age = 32
print(f"My name is {name} and I am {age} years old")

My name is Rehan and I am 32 years old

In [14]:
name = "Muhammad"
greetings = "Hello"
# print (greetings, name)


print(f"Hello {name}")

Hello Muhammad

In [30]:
name = "Usman"
# type(name)
print(f"type is: {type(name)}")
print(f"dir is: {dir(name)}")
print(f"id is: {id(name)}")

type is: <class 'str'>
dir is: ['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
id is: 132590662364912

In [31]:
# Interning
# 1. not computed
# 2. not much long


name1 = "Rehan"

name2 = "Rehan"
print(id(name1))
print(id(name2))

132591223192560
132591223192560

## Immutable
- string
- int
- float
- bool
- tuple

## Mutable
- sets
-  list
- dictionaries

In [38]:
name = "Rehan"

# print(id(name))

name = "usman"
# print(id(name))

name_list = ["musa", "hadia"]

print(id(name_list))

name_list.append("usman")
print(name_list)

print(id(name_list))

132590678179072
['musa', 'hadia', 'usman']
132590678179072

In [ ]:
# this is a comment
name = "Ibtisam" # This is the name of faculty member

# doc string
"""
This
is a multiline
comment
"""

# List

In [42]:
std_name_1 = "Ali"
std_name_2 = "Usman"
std_name_3 = "Rehan"
std_name_4 = "Usman"

student_names = ["Ali", "Rehan", "Usman", "Ibtisam"]
        #         0       1        2         3
# Indexing
print(student_names[3])

# last element in list
print(student_names[-1])

print(len(student_names))

Ibtisam
Ibtisam
4

In [44]:
dir(student_names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
print(student_names)

['Ali', 'Rehan', 'Usman', 'Ibtisam']

In [46]:
student_names.append("Wania")
print(student_names)

['Ali', 'Rehan', 'Usman', 'Ibtisam', 'Wania']

In [47]:
student_names.append(15)
print(student_names)

['Ali', 'Rehan', 'Usman', 'Ibtisam', 'Wania', 15]

In [49]:
student_names.insert(2, 162)
print(student_names)

['Ali', 'Rehan', 162, 162, 'Usman', 'Ibtisam', 'Wania', 15]

In [50]:
student_names.remove(162)
print(student_names)

['Ali', 'Rehan', 162, 'Usman', 'Ibtisam', 'Wania', 15]

In [51]:
student_names.pop()
print(student_names)

['Ali', 'Rehan', 162, 'Usman', 'Ibtisam', 'Wania']

In [52]:
popped_val = student_names.pop()
print(popped_val)
print(student_names)

Wania
['Ali', 'Rehan', 162, 'Usman', 'Ibtisam']

# Slicing

In [53]:
teacher_names = ["Rehan", "Usman", "Ibtisam", "Sir Zia"]
# [start:end(not included):step(optional)]
best_teachers = teacher_names[2:4]

In [54]:
best_teachers

['Ibtisam', 'Sir Zia']

In [55]:
new_teachers = teacher_names[1:4:2]
new_teachers

['Usman', 'Sir Zia']

In [57]:
first_teacher = teacher_names[0:3]
first_teacher

['Rehan', 'Usman', 'Ibtisam']